{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}
{% block title %}login{% endblock %} 
{% block content %}
    <div class="container mt-5" style="max-width: 500px;">
        <h2 class="my-4 text-center">Login</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ render_field(form.email) }}
            </div>
            <div class="form-group">
                {{ render_field(form.password) }}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <button type="submit" class="btn btn-primary mt-3 w-100">Login</button>
        </form>
    </div>
{% endblock %}