{% extends 'base.html' %}
{% block title %}login{% endblock %} 
{% block head %}
    {{ super() }}
    {% if theme == 'dark' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/light.css') }}">
    {% endif %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Ласкаво просимо до сторінки 👤{{ session.user.username }}</h1>
            <p>Тут ви можете отримати інформацію чи вийти з системи</p>
            <a href="{{ url_for('users.logout') }}" class="btn btn-primary">Вийти</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Theme Selector</h2>
            <form method="post" action="{{ url_for('users.set_theme') }}">
                <div class="form-group">
                    <label for="theme">Select Theme</label>
                    <select class="form-control" id="theme" name="theme">
                        <option value="light" {% if theme == 'light' %}selected="selected"{% endif %}>Light</option>
                        <option value="dark" {% if theme == 'dark' %}selected="selected"{% endif %}>Dark</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Set Theme</button>
            </form>
        </div>
    </div>
    <div class="row mt-4"></div>
        <div class="col-md-8">
            <h2>Cookies Management</h2>
            <form method="post" action="{{ url_for('users.add_cookie') }}">
                <div class="form-group">
                    <label for="cookie_name">Cookie Name</label>
                    <input type="text" class="form-control" id="cookie_name" name="cookie_name" required>
                </div>
                <div class="form-group">
                    <label for="cookie_value">Cookie Value</label>
                    <input type="text" class="form-control" id="cookie_value" name="cookie_value" required>
                </div>
                <div class="form-group">
                    <label for="cookie_expires">Cookie Expires</label>
                    <input type="text" class="form-control" id="cookie_expires" name="cookie_expires" required>
                </div>
                <button type="submit" class="btn btn-success">Add Cookie</button>
            </form>
            <form method="post" action="{{ url_for('users.delete_cookie') }}" class="mt-3">
                <div class="form-group">
                    <label for="delete_cookie_name">Cookie Name to Delete</label>
                    <input type="text" class="form-control" id="delete_cookie_name" name="delete_cookie_name" required>
                </div>
                <button type="submit" class="btn btn-danger">Delete Cookie</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Cookies list</h2>
            <form method="post" action="{{ url_for('users.delete_all_cookies') }}">
                <button type="submit" class="btn btn-danger">Delete All Cookies</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="cell">Cookie Name</th>
                        <th scope="col" class="cell">Cookie Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in cookies.items() %}
                        <tr>
                            <td class="cell">{{ key }}</td>
                            <td class="cell">{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}