{% extends 'base.html' %}
{% block title %}Users{% endblock %} 
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1>Users</h1>
            {% if users %}
            <p>Here you can see all <b>{{ users | length }}</b> users</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Last seen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><time datetime="{{ user.last_seen.strftime('%Y-%m-%dT%H:%M:%SZ') if user.last_seen }}"></time></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No users found</p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const timeElements = document.querySelectorAll("time[datetime]");
        timeElements.forEach(function(timeElement) {
            const datetime = timeElement.getAttribute("datetime");
            if (datetime) {
                const date = new Date(datetime);
                const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
                timeElement.textContent = date.toLocaleDateString(undefined, options);
            }
        });
    });
</script>
{% endblock %}