{% extends 'base.html' %}

{% block title %} POSTS {% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css')}}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Articles</h2>
        </div>
    </div>
    <div class="row mt-n5">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="blog-grid my-post">
                <div class="blog-grid-img position-relative"><img alt="img" src="{{ url_for('.static', filename='img/default.png')}}"></div>
                <div class="blog-grid-text p-4">
                    <h3 class="h5 mb-3"><a href="{{ url_for('posts.detail_post', id=post['id']) }}">{{ post["title"] | title }}</a></h3>
                    <p class="display-30">{{ post.content | truncate(23) }}</p>
                    <div class="meta meta-style2">
                        <ul>
                            <li><a href="#!"><i class="fas fa-tag"></i> {{ post.category | capitalize }}</a></li>
                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> {{ post.posted.strftime('%Y-%m-%d') }}</a></li>
                            <li><a href="#!"><i class="fas fa-user"></i> {{ post["author"] }}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="blog-grid-text p-4">
                <h3 class="h5 mb-3"><a href="{{ url_for('posts.add_post') }}"><i class="fas fa-plus" style="margin-right: 8px"></i>Add post</a></h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}