{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="container">
    <div class="projects-section">
        <h2>Projects</h2>
        <div class="project-item">
            <h3>atman (2017)</h3>
            <p>Game</p>
            <img src="{{ url_for('static', filename='images/atman.png') }}" alt="atman" class="img-thumbnail">
            <p>Roguelike that utilizes LOVE2D</p>
        </div>
        <div class="project-item">
            <h3>Befunge-93 Multithreaded (2018)</h3>
            <p>Interpreter</p>
            <p>Version of the esoteric language Befunge with multithreading added</p>
        </div>
    </div>
</div>
{% endblock %}