{% extends "base.html" %}
{% block title %}Skills{% endblock %}
{% block content %}
<div class="container">
    <div class="skills-section">
        <h2>Technical Skills</h2>
        <div class="skills-category">
            <h3>Programming Languages:</h3>
            <p>Python, JavaScript, Lua, Ruby, C#, Rust, CSS, HTML, C, Java, Kotlin, Groovy, PHP</p>
        </div>
        <div class="skills-category">
            <h3>Databases:</h3>
            <p>MySQL, PostgreSQL, MongoDB</p>
        </div>
        <div class="skills-category">
            <h3>Frameworks and Tools:</h3>
            <p>Node.js, Vue.js, React, Django, Flask, Socket.io, Express, Mongoose, Redux, Webpack, Babel, Phaser, Yarn, Angular</p>
        </div>
    </div>
</div>
{% endblock %}